@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: local(''), url('../public/fonts/poppins-v19-latin-regular.woff') format('woff');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,Poppins;
  background: #1A1A29;
  -webkit-tap-highlight-color:transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.frfsc{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.frcc{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.frsbc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fcfsc{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.bred{
  border: 1px solid red;
}

.fs32{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.fs52{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
  color: #F5F5F5;
}

.pointer{
  cursor: pointer;
}
